<meta charset="utf-8">
<title>easy-swiper-new demo</title>
<script src="./easy-swiper-new.umd.js"></script>

<link rel="stylesheet" href="./easy-swiper-new.css">


<script>
console.log(easy-swiper-new)
</script>
