<template>
  <div :class="slideClass" :style="slideStyle">
    <slot></slot>
  </div>
</template>

<script>
function __adaptaivePx(curBlockWidth, isNosuffix) {
  const DESIGN_WIDTH = 750;
  var clientWidth = document.documentElement.clientWidth;
  var _suffix = isNosuffix ? 0 : "px";
  return (curBlockWidth * clientWidth) / DESIGN_WIDTH + _suffix;
}

function isNum(val) {
  // return Object.prototype.toString.call(val) === '[object Number]'
  return /^\d+$/g.test(val);
}

function __setVal(val) {
  if (!isNum(val)) return val;
  return __adaptaivePx(val);
}

const DEFAULT_SLIDE_STYLE_SETTING = {
  cardScreen: {
    width: "100%",
    height: "auto",
  },
  coverflow: {
    width: 300,
    height: 'auto',
  },
  cardLeft: {
    width: 200,
    height: 'auto',
  },
};
export default {
  name: "SwiperItem",
  data() {
    return {
      slideClass: "swiper-slide",
    };
  },
  props: {
    height: {
      default: "",
      type: [String, Number],
    },
    width: {
      default: "",
      type: [String, Number],
    },
  }, 
  computed:{
    effectDefaultHeight(){
      return this.height || DEFAULT_SLIDE_STYLE_SETTING[this.$parent.options.effect] && DEFAULT_SLIDE_STYLE_SETTING[this.$parent.options.effect].height
    },
    effectDefaultWidth(){
      return  this.width || DEFAULT_SLIDE_STYLE_SETTING[this.$parent.options.effect] && DEFAULT_SLIDE_STYLE_SETTING[this.$parent.options.effect].width 
    },
    slideStyle() {
      const {effectDefaultHeight, effectDefaultWidth} = this
      return {
        height:__setVal(effectDefaultHeight),
        width: __setVal(effectDefaultWidth), 
      }
    },
  },
  mounted() {
    // 关闭this.createSlideStyle() 用computed计算 元素的样式需在DOM执行完成后立马执行计算，避免3d轮播图中初始化宽度计算错误
    // this.createSlideStyle();
    // this.update();
  },
  updated() {
    this.update();
  },
  attached() {
    this.update();
  },
  methods: {
    update() {
      if (this.$parent && this.$parent.swiper) {
        this.$parent.update();
      }
    },
    createSlideStyle() {
      const effectDefaultHeight =
        this.height ||
        (DEFAULT_SLIDE_STYLE_SETTING[this.$parent.options.effect] &&
          DEFAULT_SLIDE_STYLE_SETTING[this.$parent.options.effect].height);
      const effectDefaultWidth =
        this.width ||
        (DEFAULT_SLIDE_STYLE_SETTING[this.$parent.options.effect] &&
          DEFAULT_SLIDE_STYLE_SETTING[this.$parent.options.effect].width);
      this.slideStyle = {
        height: __setVal(effectDefaultHeight),
        width: __setVal(effectDefaultWidth),
      };
    },
  },
};
</script>
