<template>
  <div class="swiper-container" :style="wrapStyle">
    <div :class="['swiper-wrapper', ranStr]">
      <slot></slot>
    </div>
    <!-- 缩略图 -->
    <slot name="thumbs" />
    <!-- tab -->
    <slot name="tabTitle" />
    <!-- 分页 -->
    <slot name="pagination" />
  </div>
</template>

<script>
import Swiper from '../EasySwiper'
function __adaptaivePx (curBlockWidth, isNosuffix) {
  const DESIGN_WIDTH = 750
  const clientWidth = document.documentElement.clientWidth
  const _suffix = isNosuffix ? 0 : 'px'
  return String(curBlockWidth) * clientWidth / DESIGN_WIDTH + _suffix
}

function isNum (val) {
  return /^\d+$/g.test(val)
}

function __setVal (val) {
  if (!isNum(val)) return val
  return __adaptaivePx(val)
}

const DEFAULT_WRAPPER_STYLE_SETTING = {
  'cardScreen': {
    width: '100%',
    height: 'auto',
  },
  'coverflow': {
    width: '100%',
    height: 'auto',
    distanceTop: 0,
    distanceBtm: 0,
  },
  'tabflow': {
    width: '100%',
    height: 'auto',
  },
  'cardLeft': {
    width: '100%',
    height: 'auto',
  },
}

import '../../assets/style/index.css'
export default {
  name: 'Swiper',
  data () {
    return {
      classes: {
        wrapperClass: 'swiper-wrapper'
      },
      swiper: null,
      ranStr: '',
      wrapStyle: {}
    }
  },
  props: {
    height: {
      default: '',
      type: [String, Number]
    },
    width: {
      default: '',
      type: [String, Number]
    },
    options: {
      default: () => ({}),
      type: Object
    },
    distanceTop: {
      default: 0,
      type: [String, Number]
    },
    distanceBtm: {
      default: 0,
      type: [String, Number]
    },
    background: {
      default: '',
      type: String
    },
  },
  computed: {
    wrapClass () {
      return this.options.wrapperClass.slice(1)
    },
  },
  activated () {
    this.update()
  },
  mounted () {
    this.ranStr = this.classes.wrapperClass + Math.random().toString(36).substring(4)
    this.createSwiperStyle()
    let optionClone = JSON.parse(JSON.stringify(this.options))
    this.$nextTick(() => {
      this.swiper = new Swiper(this.$el, { 
        ...optionClone,
        wrapperClass: '.' + this.ranStr,
        changeSlide: (index) => this.$emit('changeSlide', index),
        touchstart: (index) => this.$emit('touchStartSwiper', index),
        touchend: (index) => this.$emit('touchEndSwiper', index),
      })
    })
  },
  updated () {
    this.$nextTick(() => {
      this.update()
    })
  },
  watch: {
  },
  beforeDestroy () {
    this.$nextTick(() => {
      if (this.swiper) {
        this.swiper.destroy && this.swiper.destroy()
        delete this.swiper
      }
    })
  },
  methods: {
    update () {
      this.swiper && this.swiper.update && this.swiper.update()
    },
    createSwiperStyle () {
      const effectDefaultHeight = this.height || DEFAULT_WRAPPER_STYLE_SETTING[this.options.effect] && DEFAULT_WRAPPER_STYLE_SETTING[this.options.effect].height
      const effectDefaultWidth = this.width || DEFAULT_WRAPPER_STYLE_SETTING[this.options.effect] && DEFAULT_WRAPPER_STYLE_SETTING[this.options.effect].width
      const effectDefaultDistanceTop = this.distanceTop || DEFAULT_WRAPPER_STYLE_SETTING[this.options.effect] && DEFAULT_WRAPPER_STYLE_SETTING[this.options.effect].distanceTop
      const effectDefaultDistanceBtm = this.distanceBtm || DEFAULT_WRAPPER_STYLE_SETTING[this.options.effect] && DEFAULT_WRAPPER_STYLE_SETTING[this.options.effect].distanceBtm
      const effectDefaultBackground = this.background || DEFAULT_WRAPPER_STYLE_SETTING[this.options.effect] && DEFAULT_WRAPPER_STYLE_SETTING[this.options.effect].background
      this.wrapStyle = {
        height: __setVal(effectDefaultHeight),
        width: __setVal(effectDefaultWidth),
        paddingTop: __setVal(effectDefaultDistanceTop),
        paddingBottom: __setVal(effectDefaultDistanceBtm),
        background: effectDefaultBackground
      }
    }
  }
}
</script>