.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

img[src=''],
img:not([src]) {
  opacity: 0;
}

/* 分页下标样式 */
.swiper-pagination {
  padding: .26rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  /* width:.32rem;
    height:.05rem; */
  width: 20px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  margin-right: 4px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 1);
}

.swiper-wrapper {
  display: flex;
  perspective: 500px;
  -webkit-perspective: 500px;
  /* Safari and Chrome */
  -webkit-perspective-origin: 1000px 10%;
  perspective-origin: 1000px 50%;
}


/* tabflow轮播类型中tab默认样式 */
.swiper-tabTitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 99;
}

.swiper-tabTitle .swiper-tabTitle-item {
  padding: 0 6px;
  width: auto;
  height: 40px;
  line-height: 40px;
  flex: none;
  z-index: 2;
}

.swiper-tabTitle .swiper-tabTitle-item-active {
  color: #ff0000;
}

.swiper-tabTitle i.swiper-tabTitle-active {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #ff4a4a;
  bottom: 0%;
  transition: 0.25s ease-in-out;
  z-index: 1;
}

.swiper-tabTitle::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}




/* 卡片轮播图缩略图默认样式 */
.swiper-thumbs {
  margin-top: 10px;
  text-align: left;
  box-sizing: border-box;
  background-color: transparent;
  width: 100%;
  /* padding-left: 12px;; */
}

.swiper-thumbs-list {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.swiper-thumbs-bullet {
  width: auto;
  height: 80px;
  z-index: 2;
  position: relative;
}

.swiper-thumbs .swiper-thumbs-bullet-active {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: auto;
  z-index: 99;
}

.swiper-thumbs-bullet .swiper-thumbsImg {
  width: auto;
  height: 100%;
}

.swiper-thumbs-bullet .swiper-thumbsImgActive {
  /* position: absolute;
  z-index: 1;
  left: 0;
  top: 0; */
  width: auto;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}