<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=device-width,initial-scale=1.0,user-scalable=no,viewport-fit=cover"/> 
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!-- <script id="vConsoleSc" crossorigin src="https://static.xiaoxiangyoupin.com/jlib/vconsole.min.3.14.3.js"></script>
    <script id="createPos">
      new VConsole()
    </script> -->
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
