<template>
  <div id="app">
    <template>
      <div class="swiperBubble">
        <Swiper
          :options="swiperOptionBubble"
          ref="swiperBubble"
          @changeSlide="changeSlide"
        >
          <SwiperItem
            :width="180"
            v-for="(item, index) in listBubble"
            :key="item.img + index"
          >
            <img :src="item.img" alt="" />
          </SwiperItem>
        </Swiper>
      </div>
    </template>
  </div>
</template>

<script>
import Swiper from '../package/Swiper'
import SwiperItem from '../package/SwiperItem'
export default {
  name: 'Screen',
  components: {
    Swiper,
    SwiperItem,
  },
  data() {
    return {
      // 普通轮播图
      swiperOptionBubble: {
        loop: true, // 是否循环切换
        autoplay: false, // 是否自动切换
        initialSlide: 0, //初始激活序号
        bubbleScale: 1, //放大缩小倍数
        bubbleBetween: 0, //泡泡缩小后产生的间距补贴
        bubbleNum: 1, //交错值 默认1为两两交错  支持0/1
        bubbleY: 10,
        spaceBetween: 20,
        effect: 'bubble',
        canContinuitySlide: true,
      },
      listBubble: [],
      curSlide: 1,
    }
  },
  created() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.listBubble = [
          {
            img: 'https://cdn.xiaoxiangyoupin.com/test/upload/h5-common/750x750_1647425747340_3_1.jpg',
          },
          {
            img: 'https://cdn.xiaoxiangyoupin.com/test/upload/h5-common/864x1080_1650268214910_3_1.jpg',
          },
          {
            img: 'https://cdn.xiaoxiangyoupin.com/test/upload/h5-common/864x1080_1650277234715_3_1.jpg',
          },
          {
            img: 'https://cdn.xiaoxiangyoupin.com/test/upload/h5-common/2210x2975_1650872299739_3_1.jpg',
          },
          {
            img: 'https://cdn.xiaoxiangyoupin.com/test/upload/h5-common/620x816_1652149115774_3_1.jpg',
          },
          {
            img: 'https://cdn.xiaoxiangyoupin.com/test/upload/h5-common/620x816_1660122222732_3_1.jpg',
          },
        ]
      }, 1000)
    })
  },
  computed: {
    swiper() {
      return this.$refs.swiperBubble.swiper
    },
  },
  methods: {
    changeSlide(val) {
      this.curSlide = Number(val) + 1
    },
  },
}
</script>
<style scoped>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.center {
  height: 200px;
  width: 50vw;
  background: #2c3e50;
}
.swiper-wrapper {
  height: 200px;
}
.swiperBubble .swiper-slide img {
  width: 90px;
  height: 90px;
  border-radius: 15px 7px 15px 7px;
  border: 1px solid #2c3e50;
  object-fit: cover;
}
/* .swiper-slide-active{
  margin:0 10px !important;
} */
</style>
