<template>
  <div id="app">
    <Swiper :options="swiperOptionScreen" ref="swiperScreen" @changeSlide="changeSlidefirst" :height="200" >
      <SwiperItem
        v-for="(item, index) in listScreen"
        :key="index"
      >
        <div class="content" ref="content" :style="{ background: `${item.color}` }">
          {{index}}
        </div>
      </SwiperItem>
    </Swiper>
    <template>
      <div class="card-content">
        <Swiper :options="swiperOptionTabflow" :distanceTop="80" ref="swiper"
          @changeSlide="changeSlide" @touchStartSwiper="touchStartSwiper" @touchEndSwiper="touchEndSwiper">
          <SwiperItem
            v-for="(item, index) in tabSwiper"
            :key="index"
            :width="188"
          >
            <div class="content" ref="content" :style="{ background: `${item.color}` }">
              <div class="title">{{ item.content }}</div>
              <div class="imgflex" v-if="(item.type==1)">
                <img class="imghide" src="https://cdn.xiaoxiangyoupin.com/image/264x264_1424115397765357568.png" alt="">
                <img class="imgshow" src="https://cdn.xiaoxiangyoupin.com/image/264x264_1424115397765357568.png" alt="">
              </div>
              <div v-else>
                <img class="imgain" :class="{active:curSlide==index}"  src="https://cdn.xiaoxiangyoupin.com/image/206x62_1424115253544214528.png" alt="">
              </div>
            </div>
          </SwiperItem>
        </Swiper>
      </div>
    </template>
  </div>
</template>

<script>
import Swiper from "../package/Swiper";
import SwiperItem from "../package/SwiperItem";
export default {
  name: "tabSwiper",
  components: {
    Swiper,
    SwiperItem,
  },
  data() {
    return {
      // 普通轮播图
      swiperOptionScreen: {
        loop: true, // 是否循环切换
        initialSlide: 1,
        autoplay: 3000,
        canContinuitySlide: false,
        spaceBetween: 50,
        direction:'y',
        effect: "cardScreen",
      },
      // tab切换
      swiperOptionTabflow: {
        loop: true, // 是否循环切换
        initialSlide: 0,
        autoplay: 5000,
        canContinuitySlide: true,
        spaceBetween: 14,
        effect: 'cardLeft',
        leftOriginOffset: -6,
        cardWidthscaleX: 1.84,
        touchRatio: 1,
      },
      descY:0,
      curSlide:0,
      listScreen:[],
      tabSwiper: [ 
        {
          content: "ta3b内容",
          color: "#bdacff",
          type:2
        },
        {
          content: "tab1内容",
          color: "#ffbfac",
          type:1
        },
      ],
    };
  },
  created() {

    this.$nextTick(() => {
      setTimeout(() => {
        this.listScreen = [
        {
          content: "tab1内容",
          color: "#ffbfac",
          type:1
        },
        {
          content: "tab2内容",
          color: "#b9ffac",
          type:1
        },
        {
          content: "ta3b内容",
          color: "#bdacff",
          type:2
        },
        {
          content: "ta34b内容",
          color: "#bd11ff",
          type:2
        },
        ];
      }, 1000);
    });
  },
  computed: {
    swiper() {
      return this.$refs.swiper;
    },
  },
  methods: {
    changeSlidefirst(val){
      console.log('我是第11111111111111个轮播图切换')
    },
    changeSlide(val){
      this.curSlide = Number(val) 
      console.log('我是第222222222222个轮播图切换')
    },
    touchStartSwiper(val){
      console.log('touchStartSwiper')
    },
    touchEndSwiper(val){
      console.log('touchEndSwiper')
    }
  },
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
img {
  width: 100%;
}
.card-content{
  padding-left: 12px;
}
.content {
      height: 113px;
  text-align: left;
  /* position: relative; */
  width: 100%;;
  border-radius: 10px;
  overflow: hidden;
}
.title{
  height: 20px;
}
.imgflex{
  /* position: relative; */
  width: 100%;
  margin-top: 10px;
  height: 70px;;
  display: flex;
  align-items:center;
  overflow: hidden;
  padding:0 6px;
  box-sizing: border-box;
}
.imghide{
  
  /* position: absolute;
  left: 10px;
  z-index: 1; */
  /* bottom: 0; */
  /* width:80% !important; */
  height: fit-content;
  /* max-width:80px; */
  width: 70px !important;;
}
.imgshow{
  /* position: absolute;
  right: 10px;
  z-index: 0; */
  /* bottom: 0; */
  /* width:80% !important; */
  height: fit-content;
  /* max-width:80px; */
  width: 70px !important;;
  margin-left: 10px;
}
.imgain{
  height: fit-content;
  width: 60px !important;
  display: inline-block;
  margin-top: 40px;
  margin-left: 10px;
}
.imgain.active{
  animation: moveAni 0.3s ease-in forwards; 
}
@keyframes moveAni {
  0% {
    transform: translate3d(0,0,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(70px,-20px,0);
    opacity: 1;
  }
}
</style>