<template>
  <div id="app">
    <template>
      <Swiper :options="swiperOptionCoverflow" ref="swiper">
        <SwiperItem v-for="(item, index) in list3D" :key="index" :width="120">
          {{ index }}
          <img :src="item.img" alt="" />
          <!-- <img :data-src="item.img" alt="" class="swiper-lazy" /> -->
        </SwiperItem>
      </Swiper>
    </template>
  </div>
</template>

<script>
import Swiper from '../package/Swiper'
import SwiperItem from '../package/SwiperItem'
export default {
  name: 'Swiper3D',
  components: {
    Swiper,
    SwiperItem,
  },
  data() {
    return {
      // 3d轮播图
      swiperOptionCoverflow: {
        loop: true, // 是否循环切换
        autoplay: false, // 是否自动切换
        initialSlide: 0, //初始激活序号
        perspective: 1500, //透视程度
        canContinuitySlide: true,
        spaceBetween: 60, //卡片之间距离
        customOffsetY: 0, //纵向距离
        touchRatio: 1, // 触摸距离与slide滑动距离的比例
        slideToClickedSlide: true, //设置为true则点击slide会过渡到这个slide
        rotateDeg: 0, //折射角度
        effect: 'coverflow',
        lazyLoad:false,
        // lazyLoad:false,
        // lazyLoad: {
        //   loadPrevNext: true,
        // },
      },
      list3D: [],
    }
  },
  created() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.list3D = [
          {
            img: 'https://cdn.xiaoxiangyoupin.com/image/450x641_980273675813732352.png',
          },
          {
            img: 'https://cdn.xiaoxiangyoupin.com/image/450x642_997266011837599744.png',
          },
          {
            img: 'https://cdn.xiaoxiangyoupin.com/image/450x642_999793440356855808.png',
          },
          // {
          //   img: 'https://cdn.xiaoxiangyoupin.com/image/450x641_980273675813732352.png',
          // },
          // {
          //   img: 'https://cdn.xiaoxiangyoupin.com/image/450x642_997266011837599744.png',
          // },
          // {
          //   img: 'https://cdn.xiaoxiangyoupin.com/image/450x642_999793440356855808.png',
          // },
          // {
          //   img: 'https://cdn.xiaoxiangyoupin.com/image/450x641_980273675813732352.png',
          // },
          // {
          //   img: 'https://cdn.xiaoxiangyoupin.com/image/450x642_997266011837599744.png',
          // },
          // {
          //   img: 'https://cdn.xiaoxiangyoupin.com/image/450x642_999793440356855808.png',
          // },
          // {
          //   img: 'https://cdn.xiaoxiangyoupin.com/image/450x641_980273675813732352.png',
          // },
          // {
          //   img: 'https://cdn.xiaoxiangyoupin.com/image/450x642_997266011837599744.png',
          // },
          // {
          //   img: 'https://cdn.xiaoxiangyoupin.com/image/450x642_999793440356855808.png',
          // },
        ]
      })
    })
  },
  computed: {},
  methods: {},
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
img {
  width: 100%;
  /* height: 200px !important; */
}
</style>
