<template>
  <div id="app">
    <template>
      <div class="swiperFa" :style="backbg">
        <img class="shadow" :src="listthumb[active]&& listthumb[active].img"  alt="" />
        <Swiper :options="swiperOptionFade" ref="swiperThumbs"  @changeSlide="changeSlide">
          <SwiperItem
            v-for="(item, index) in listthumb"
            :key="item.img + index"
            :thumbsImgSrc="item.imgthumb"
            :thumbsImgActiveSrc="item.smallImgActive"
          >
            {{ index }}
            <img :src="item.img"  alt="" />
          </SwiperItem>
          <div
            slot="thumbs"
            class="swiper-thumbs"
            :style="{ marginTop: '-26.6667vw' }"
          ></div>
        </Swiper>
      </div>
    </template>
  </div>
</template>

<script>
import Swiper from '../package/Swiper'
import SwiperItem from '../package/SwiperItem'
export default {
  name: 'swiperThumbs',
  components: {
    Swiper,
    SwiperItem,
  },
  data() {
    return {
      // 普通轮播图
      swiperOptionFade: {
        loop: true, // 是否循环切换
        initialSlide: 0,
        autoplay: false,
        canContinuitySlide: false,
        speed: 500,
        effect: 'fade',
        touchRatio:2,
        thumbs: {
          el: '.swiper-thumbs',
          height: 100,
          spaceRight: 10,
          thumbsImgDecorationSrc:''
        },
        fadeDom:{
          el: '.swiper-fade',
        }
      },
      listthumb: [],
      imgthumbactive: 0,
      active:0
    }
  },
  created() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.listthumb = [
          {
            img: 'https://static.xiaoxiangyoupin.com/test/upload/manager/1125x932_1541153275070386176279.png',
            imgthumb:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736051445108736.png',
            smallImgActive:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736067060502528.png',
          },
          {
            img: 'https://static.xiaoxiangyoupin.com/test/upload/manager/1125x932_1541153052923269120309.png',
            imgthumb:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736220341342208.png',
            smallImgActive:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736230202150912.png',
          },
          {
            img: 'https://static.xiaoxiangyoupin.com/test/upload/manager/1125x932_1541153446160240640990.png',
            imgthumb:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736220341342208.png',
            smallImgActive:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736230202150912.png',
          },
        ]
        this.active =0
      }, 1000)
    })
  },
  computed: {
    backbg(){
      return {
          backgroundImage: `url(https://static.xiaoxiangyoupin.com/test/upload/manager/1125x932_1541153517551489024432.png)`,
        backgroundRepeat: 'no-repeat',
        backgroundSize: '100% 100%',
      }    }
  },
  methods: {
    changeSlide(val){
      this.active = +val
    }
  },
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
img {
  width: 100%;
  /* height: 200px !important; */
}
.btn {
  height: 40px;
  line-height: 40px;
  width: 300px;
  margin: 5px auto;
  background: #2c3e50;
  color: #d3d2c5;
  border-radius: 6px;
}
.content {
  /* height: 400px; */
}
.swiperThumbs {
  /* padding-bottom: 80px; */
  /* position: relative; */
  /* padding-left: 12px;
  padding-right: 12px;; */
  /* padding-right: 80px; */
}
.shadow{
  height: 1px;
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
}
</style>
<style scoped>
.swiper-tabTitle-slot .swiper-tabTitle-item {
  width: 80px;
}
.swiper-tabTitle-slot i.swiper-tabTitle-active {
  background: #16d2d7;
  height: 100%;
  width: 80px;
  border-radius: 20px;
}
</style>
