<template>
  <div id="app">
    <template>
      <Swiper :options="swiperOption" ref="swiper">
        <SwiperItem
          v-for="(item, index) in listScreen"
          :key="index"
        >
          <img :src="item.img" alt="" />
        </SwiperItem>
        <div
          slot="pagination"
          class="swiper-pagination swiper-pagination-b"
        ></div>
      </Swiper>
    </template>
  </div>
</template>

<script>
import Swiper from "../package/Swiper";
import SwiperItem from "../package/SwiperItem";
export default {
  name: "pagination",
  components: {
    Swiper,
    SwiperItem,
  },
  data() {
    return {
      swiperOption: {
        loop: true, // 是否循环切换
        autoplay: false,
        initialSlide: 0,
        canContinuitySlide: true,
        slideToClickedSlide: true, //设置为true则点击slide会过渡到这个slide
        effect: "cardScreen",    
        pagination: {
          el: ".swiper-pagination",
          indicatorDefultColor:'#fff',
          indicatorActiveColor:'#000'
        },
      },
      listScreen: [],
    };
  },
  created() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.listScreen = [
          {
            img: "https://static.xiaoxiangyoupin.com/prod/upload/manager/1053x264_1376372508411826176.png",
          },
          {
            img: "https://static.xiaoxiangyoupin.com/prod/upload/manager/1053x264_1376372946888560640.png",
          }
        ];
      }, 1000);
    });
  },
  computed: {
    swiper() {
      return this.$refs.swiper.swiper;
    },
  },
  methods: {
  },
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
img {
  width: 100%;
  /* height: 200px !important; */
}

</style>
<style>
.swiper-tabTitle-slot .swiper-tabTitle-item{
  width: 80px;
}
.swiper-tabTitle-slot i.swiper-tabTitle-active{
  background:#16D2D7;
  height: 100%;
  width:  80px;
  border-radius: 20px;;
}
</style> 