<template>
  <div id="app">
    <template>
      <div  class="swiperScreen">
       纵向滚动
        <Swiper :options="swiperOptionScreen" ref="swiperScreen" :height="200" @changeSlide="changeSlide">
          <SwiperItem
            v-for="(item, index) in listScreen"
            :key="index"
          >
            <div class="content" ref="content" :style="{ background: `${item.color}` }">
              {{index}}
            </div>
          </SwiperItem>
        </Swiper>
      </div>
    当前激活 {{curSlide}} 页
    <div class="btn" @click="goSwiper()">跳转到指定swiper第一条</div>
    <div class="btn" @click="slideNext()">跳转下一条</div>
    <div class="btn" @click="slidePrev()">跳转上一条</div>
    </template>
  </div>
</template>

<script>
import Swiper from "../package/Swiper";
import SwiperItem from "../package/SwiperItem";
export default {
  name: "Screen",
  components: {
    Swiper,
    SwiperItem,
  },
  data() {
    return {
      // 普通轮播图
      swiperOptionScreen: {
        loop: true, // 是否循环切换
        initialSlide: 1,
        autoplay: false,
        canContinuitySlide: false,
        spaceBetween: 50,
        direction:'y',
        effect: "cardScreen",
      },
      listScreen:[],
      curSlide:1
    };
  },
  created() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.listScreen = [
        {
          content: "tab1内容",
          color: "#ffbfac",
          type:1
        },
        {
          content: "tab2内容",
          color: "#b9ffac",
          type:1
        },
        {
          content: "ta3b内容",
          color: "#bdacff",
          type:2
        },
        {
          content: "ta34b内容",
          color: "#bd11ff",
          type:2
        },
        ];
      }, 1000);
    });
  },
  computed: {
    swiper() {
      return this.$refs.swiperScreen.swiper;
    },
  },
  methods: {
    changeSlide(val) {
      this.curSlide = Number(val)+1
    },
    // 跳转到指定位置
    goSwiper() {
      this.swiper.swiperTo(0, 300);
    },
    // 跳转到下一个
    slideNext() {
      this.swiper.slideNext(1000);
    },
    // 跳转到上一个
    slidePrev() {
      this.swiper.slidePrev(1000);
    },
  },
};
</script>
<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
img {
  width: 100%;
}
.btn {
  height: 40px;
  line-height: 40px;
  width: 300px;
  margin: 5px auto;
  background: #2c3e50;
  color: #d3d2c5;
  border-radius: 6px;
}
.content{
  width:100%;
  height: 100px;;
}
</style>