<template>
  <div id="app">
    <template>
      <Swiper :options="swiperOptionTabflow" :distanceTop="80" ref="swiper">
        <SwiperItem
          v-for="(item, index) in tabSwiper"
          :tabTitle="item.name"
          :key="index"
        >
          <div class="content" :style="{ background: `${item.color}` }">
            {{ item.content }}
          </div>
        </SwiperItem>
        <div slot="tabTitle" class="swiper-tabTitle swiper-tabTitle-slot"></div>
      </Swiper>
    </template>
  </div>
</template>

<script>
import Swiper from "../package/Swiper";
import SwiperItem from "../package/SwiperItem";
export default {
  name: "tabSwiper",
  components: {
    Swiper,
    SwiperItem,
  },
  data() {
    return {
      // tab切换
      swiperOptionTabflow: {
        touchRatio: 0.5,
        slideToClickedSlide: true, //设置为true则点击slide会过渡到这个slide
        tabTitle: {
          el: ".swiper-tabTitle",
        },
        effect: "tabflow",
      },
      tabSwiper: [
        {
          name: "标题标题标题标题标题标题标题",
          content: "tab1内容",
          color: "#ffbfac",
        },
        {
          name: "tab2标题",
          content: "tab2内容",
          color: "#b9ffac",
        },
        {
          name: "tab3标题",
          content: "ta3b内容",
          color: "#bdacff",
        },
        {
          name: "tab4标题",
          content: "ta34b内容",
          color: "#bd11ff",
        },
      ],
    };
  },
  created() {
  },
  computed: {
  },
  methods: {

  },
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
img {
  width: 100%;
}
.content {
  height: 400px;
}
</style>