<template>
  <div id="app">
    <template>
      <div class="swiperThumbs">
        <Swiper :options="swiperOptionScreen" ref="swiperThumbs">
          <SwiperItem
            v-for="(item, index) in listthumb"
            :key="item.img + index"
            :thumbsImgSrc="item.imgthumb"
            :thumbsImgActiveSrc="item.smallImgActive"
          >
            {{ index }}
            <img :src="item.img" alt="" />
          </SwiperItem>
          <div
            slot="thumbs"
            class="swiper-thumbs"
            :style="{ marginTop: '-90px' }"
          ></div>
        </Swiper>
      </div>
    </template>
  </div>
</template>

<script>
import Swiper from '../package/Swiper'
import SwiperItem from '../package/SwiperItem'
export default {
  name: 'swiperThumbs',
  components: {
    Swiper,
    SwiperItem,
  },
  data() {
    return {
      // 普通轮播图
      swiperOptionScreen: {
        loop: false, // 是否循环切换
        initialSlide: 0,
        autoplay: 3000,
        canContinuitySlide: false,
        spaceBetween: 0,
        effect: 'cardScreen',
        thumbs: {
          el: '.swiper-thumbs',
          height: 100,
          spaceRight: 10,
          thumbsImgDecorationSrc:''
        },
      },
      listthumb: [],
      imgthumbactive: null,
    }
  },
  created() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.listthumb = [
          {
            img: 'https://cdn.xiaoxiangyoupin.com/test/upload/manager/1125x875_1480736019136385024.png',
            imgthumb:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736051445108736.png',
            smallImgActive:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736067060502528.png',
          },
          {
            img: 'https://cdn.xiaoxiangyoupin.com/test/upload/manager/1125x875_1480736208026865664.png',
            imgthumb:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736220341342208.png',
            smallImgActive:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736230202150912.png',
          },
          {
            img: 'https://cdn.xiaoxiangyoupin.com/test/upload/manager/1125x875_1480736208026865664.png',
            imgthumb:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736220341342208.png',
            smallImgActive:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736230202150912.png',
          },
          {
            img: 'https://cdn.xiaoxiangyoupin.com/test/upload/manager/1125x875_1480736019136385024.png',
            imgthumb:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736051445108736.png',
            smallImgActive:
              'https://cdn.xiaoxiangyoupin.com/test/upload/manager/228x266_1480736067060502528.png',
          },
        ]
        this.imgThumbActive =''
      }, 1000)
    })
  },
  computed: {},
  methods: {},
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
img {
  width: 100%;
  /* height: 200px !important; */
}
.btn {
  height: 40px;
  line-height: 40px;
  width: 300px;
  margin: 5px auto;
  background: #2c3e50;
  color: #d3d2c5;
  border-radius: 6px;
}
.content {
  /* height: 400px; */
}
.swiperThumbs {
  padding-bottom: 80px;
  /* padding-left: 12px;
  padding-right: 12px;; */
  /* padding-right: 80px; */
}
</style>
<style scoped>
.swiper-tabTitle-slot .swiper-tabTitle-item {
  width: 80px;
}
.swiper-tabTitle-slot i.swiper-tabTitle-active {
  background: #16d2d7;
  height: 100%;
  width: 80px;
  border-radius: 20px;
}
</style>
