<template>
  <div id="app">
    <div class="link">
      <router-link to="/screen">普通卡片轮播</router-link>
      <router-link to="/coverflow" >3D轮播</router-link>
      <router-link to="/tab" >tab轮播</router-link>
      <router-link to="/pagination" >pagination插槽</router-link>
      <router-link to="/thumbs" >thumbs插槽</router-link>
      <router-link to="/bubble" >轮播泡泡</router-link>
      <router-link to="/card" >左侧卡片</router-link>
      <router-link to="/fade" >渐变交互</router-link>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {
  },
  data() {
    return {
    }
  },
  created() {
  },
  computed: {
  },
  methods: {
  },
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.link{
  display: flex;
  justify-items: flex-start;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* overflow: scroll;
  width: 100vw; */

}
a{
  display: block;
  margin-top: 20px;
  flex-shrink: 0;
  margin-right: 10px;
}
img {
  width: 100%;
}
</style>
